.preview-node {
  display: flex;
  

  align-items: center;
  border: 1px solid blue;
  border-radius: 15px;
  padding: 20px;
  box-shadow: black;
  box-shadow: 0px 7px 19px 2px #0000003d;
  margin: 20px 0;
  .node-name {
    margin: 0 10px;
    font-size: 30px;
  }
}
